body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff6f00;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 50px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background: #1a44a0;
    color: white;
}

.topnav a.active {
    background-color: #2a3049;
    color: white;
}
